.login {
    background-image: url("../images/shop-bg.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10rem;
}

.myform {
	height: 100%;
	width: 50%;
	margin: auto auto;
	padding: 1rem 5rem;
	background-color: rgba(255,255, 255, 0.61);
}

.btn {
	display: inline-block;
}